<!DOCTYPE html>
<html>
<head>
  <title>Twitter Demo App</title>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  <!--[if lt IE 8]>
  <%= stylesheet_link_tag 'blueprint/ie', :media => 'screen, projection' %>
  <![endif]-->

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <a href="/"><%= image_tag "logo.png", :alt => "Twitter Demo" %></a>
      <nav id="nav"></nav>
    </header>
    <section id="content">
      <%= yield %>
    </section>
    <footer>
      This website is
      <a href="https://github.com/superjoe30/twitterdemo">open source</a>
      under the <a href="http://sam.zoy.org/wtfpl/COPYING">WTFPL</a>.
    </footer>
  </div>
</body>
</html>
